@media screen and (min-width: 555px) {
  body {
    background-color: hsl(0, 0%, 20%);
  }
  main {
  background-colo: red;
    width: 50%;
  }

  /* IMAGEM PERFIL */
  .imagem__perfil .imagem {
    width: 12em;
    padding-top: 40px;
  }

  /* TEXTOS PRINCIPAIS */
  .descricao__perfil .nome__perfil {
    font-size: 35px;
    padding-top: 20px;
  }

  .descricao__perfil .cidade__perfil {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .descricao__perfil .profissao__perfil {
    font-size: 20px;
    padding-top: 20px;
  }

  /* LINKS */
  .redes__sociais li {
    display: flex;
    padding: 30px;
    width: 90%;
    align-self: flex-end;
  }

  .redes__sociais li:hover {
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    transition: 1s;
  }


}
