body {
  background-color: rgb(244, 208, 78);
  font-family: Figtree__SemiBold;
  margin: 0 auto;
  padding: 0;
}

/* CAIXA DO CONTEUDO */
main {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px;
  padding: 15px;
  margin: 20px;
  border-radius: 20px;
  gap: 20px;
}

/* IMAGEM PRINCIPAL */
main .imagem__principal .foto__principal img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/* TEXTOS */
.titulos {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.titulos .titulo__carregamento h2 {
  display: flex;
  background-color: rgb(244, 208, 78);
  font-family: figtree__ExtraBold;
  font-size: 12px;
  text-align: center;
  width: 15%;
  padding: 10px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.titulos .titulo__carregamento p {
  font-family: Figtree__Variable;
  font-size: 12px;
  margin: 20px 0;
}

.titulos .titulo__carregamento h1 {
  font-family: Figtree__ExtraBold;
  font-size: 20px;
  margin: 10px 0;
}


.titulos .titulo__carregamento h1:hover {
  color: rgb(244, 208, 78);
  cursor: pointer;
  transition: 1s;
}

.conteudo p {
  font-family: Figtree__Variable;
  font-size: 14px;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 12px;
}

.perfil .imagem__perfil img {
  width: 32px;
  height: 32px;
}

.perfil .nome .nome__perfil {
  font-family: Figtree__ExtraBold;
  font-size: 14px;
}
