@media only screen and (min-width: 500px) {
  body {
    background-color: rgb(244, 208, 78);
    margin: auto;
    width: 40%;
    padding: 15px;
  }

  .titulos .titulo__carregamento h2 {
    font-size: 14px;
  }

  .titulos .titulo__carregamento p {
    font-size: 14px;
  }

  .titulos .titulo__carregamento h1 {
    font-size: 22px;
  }

  .conteudo .texto__conteudo {
    font-size: 16px;
  }
}
